.App {
  text-align: center;

}


.navbar {
  height: 50px;
  background-color: #333;
  color: #fff;
}
.footer{
  display: block;
  bottom: 0;
width: 100%;
}

/* .sidebar {
  color: #333;
  width: 30%;
  position: fixed;
  top: 90px;
  border: 1px solid #333;
  text-align: left; 
} */
/* .sidebar ul li{
  margin-left: 20px;
} */

/* .content {
  width: 70%;
  margin-left: 30%;
} */


