.App {
  text-align: center;

}
.container {
  display: flex;
}

.navbar {
  height: 50px;
  background-color: #333;
  color: #fff;
}
.footer{
  display: block;
  position: fixed;
  bottom: 0;
width: 100%;
}

.sidebar {
  color: #333;
  width: 30%;
  position: fixed;
  top: 90px;
  border: 1px solid #333;
  text-align: left; /* set the top property to the height of the navbar */
}
.sidebar ul li{
  margin-left: 20px;
}

.content {
  width: 70%;
  margin-left: 30%; /* add a margin to the content to account for the width of the sidebar */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
