#main_container{
    display: flex;
    justify-content: space-between;
}

#product_container{
   width:75%;
   height: auto;
   border: 0px solid  black;
   text-align: left;
   margin: auto;
}

#cart_btn, #buy_btn{
    border: 1px solid  black;
}

#sidebar{
    width:20%;
    height: 900px;
    border: 1px solid  black;
 }