nav {
    background-color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    z-index: 1;
    height: 70px;
  }
  
  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* max-width: 1200px; */
    /* margin: 0 auto; */
    padding: 16px;
    border-radius: 1px solid red;
  }
  
  .logo-container img {
    height: 40px;
  }
  
  .menu-container ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .menu-container ul li {
    margin-right: 30px;
  }
  
  .menu-container ul li:last-child {
    margin-right: 0;
  }
  
  .menu-container ul li a {
    display: flex;
    color: #fef7f7;
    text-decoration: none;
    
  }
  .search-container{
    display: flex;
    /* padding:2px; */
  }
  .search-container input[type="text"] {
    padding: 6px;
    width: 500px;
    border-radius: 0 0 0 0;
    
  }
  
  .search-container button {
   
    color: #e9611e;
    border: none;
    padding: 6px; ;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    background-color:#fff;
    
  
  }
  .dropdown-content {
    color: black;
    background-color: #fff;
    display: none;
    list-style: none;
     margin:0;
    padding: 10px;
    position: absolute;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 1px solid black;

  }
  
  .dropdown.active .dropdown-content {
    display: block;
  }
  .dropdown-content1 {
    
    background-color: #fff;
    display: none;
    list-style: none;
    margin: 0;
    padding: 10px;
    position: absolute; 
     z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 1px solid black;
  }
  
  .dropdown1.active .dropdown-content1 {
    display: block;
  }
.butt1 li button {
color: #fef7f7;
background-color: #e9611e;
border-radius: 4px 0 0 4px;
}
.button2 {
  color: #fef7f7;
  }
 
  